@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans&family=Paytone+One&display=swap');

html{
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #0f0f0f;
  font-family: fantasy;
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*============= nav =================*/
.nav-container{
  background-color: #040303;
  padding: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-container li{
  margin-left: 1rem;
  font-size: 1.05rem;
  font-family: fantasy;
}

.nav-container a{
  text-decoration: none;
  color: white;
}

.nav-container a:hover{
  color: #5800FF;
  transition: all 0.4s ease;
}

.title{
  font-size: 2.2rem;
  color: #5800FF;
  font-family: "Paytone One";
}

.burger{
  display: none;
}

.burger div{
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 3px;
}

.nav-content #hidden{
  display: flex;
}

@media (max-width: 800px){
  .burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .nav-container .nav-content ul{
    display: none;
  }
  .nav-content #hidden{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 200px;
    left: 0px;
    margin-top: 290px;
    background-color: rgb(0,0,0,0.9);
  }
  #hidden a{
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hidden a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 179);
    transition: all 0.4s ease;
  }
  
}

/*============= home ==============*/

.home-container{
  margin: 0 auto;
}

.home-content{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 1.5rem;
}

.home-text{
  margin-left: 1.5rem;
  margin-top: 4rem;
  font-family: fantasy;
}

.home-text h1{
  font-size: 2.5rem;
  color: white;
}

.home-text h2{
  margin-top: 0.8rem;
  color: rgb(255, 0, 179);
}

.home-text button{
  margin-top: 2rem;
  background-color: #5800FF;
  border: none;
  padding: 1.2rem;
  border-radius: 20%;
  color: white;
  cursor: pointer;
  font-family: fantasy;
}

.home-text a{
  color: white;
  text-decoration: none;
}

.home-text button:hover{
  background-color: rgb(129, 129, 129);
  transition: all 0.7s ease;
}

.home-img{
  margin-right: 1.5rem;
}

img{
  width: 500px;
  max-width: 100%;
}



/*======= QFJ-divs =======*/

.qfj-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.qfj-content{
  border: 3px solid #5800FF;
  color: #5800FF;
  min-height: 18.75rem;
  height: auto;
  width: 95%;
  background-color: rgb(18, 18, 18);
  margin: 0 auto;
  margin-top: 3rem;
}

.qfj-content p{
  margin: 2rem 1rem 2rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qfj-content h2{
  margin-top: 2rem;
  color: white;
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 0, 179);
  text-align: center;
}

.qfj-btn{
  margin-top: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.qfj-btn button{
  background-color: #5800FF;
  border: none;
  padding: 1rem;
  border-radius: 20%;
  color: white;
  cursor: pointer;
  font-family: fantasy;
  margin-bottom: 5rem;
}

.qfj-btn button:hover{
  background-color: rgb(129, 129, 129);
  transition: all 0.7s ease;
}

/*======= loading ========*/

.loading{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*========== About =========*/

.about-content{
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-title{
  color: rgb(255, 0, 179);
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

.about-content p{
  font-size: 1.5rem;
}

.about-pg{
  border: 3px solid;
  border-image: linear-gradient(rgb(255, 0, 179),#5800FF);
  border-image-slice: 1;
  padding: 1rem;
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

@media (max-width: 720px){
  .about-title{
    font-size: 2rem;
  }
}

/*========== footer =========*/

.footer-container{
  margin-top: auto;
  background-color: #040303;
  padding: 1.5rem;
}

.footer-container p{
  color: gray;
  font-size: 0.8rem;
  text-align: center
}

.git-img{
  width: 50px;
  margin-right: 1.5rem;
}

.footer-title{
  font-family:"Paytone One";
  color:#5800FF;
  margin-left: 1.5rem;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px){
  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-content p, img{
    margin-top: 0.8rem;
  }
}
